<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Produtos</title>
</head>
<body>
<?php
session_start();
if(isset($_SESSION['logado'])){
    echo 'Você está logado como: ' . $_SESSION['usuario']
                                   . ' - <a href="sair.php">sair</a>';
}else{
    header('location:login.html');
}
?>
<ul>
<li><a href="produtos.php?id=1">Mouse Microsoft</a></li>
<li><a href="produtos.php?id=2">Teclado HdTel</a></li>
<li><a href="produtos.php?id=3">PenDrive 120G</a></li>
<li><a href="produtos.php?id=4">NoteBook Acer</a></li>
</ul>

</body>
</html>